[package]
name = "ruma-identifiers-validation"
description = "Validation logic for ruma-common and ruma-macros"
homepage = "https://www.ruma.io/"
repository = "https://github.com/ruma/ruma"
license = "MIT"
version = "0.9.0"
edition = "2021"
rust-version = "1.60"

[package.metadata.docs.rs]
all-features = true

[features]
compat = []

[dependencies]
js_int = "0.2.0"
thiserror = "1.0.26"
