*                                   @jplatte
/common/                            @iinuwa
/identifiers/                       @iinuwa
/signatures/                        @gnieto
/api-crates/federation/             @DevinR528
/api-crates/identity-service/       @iinuwa
/internal/api-macros/               @ruma/macro-owners
/internal/events-macros/            @ruma/macro-owners
/internal/identifiers-macros/       @ruma/macro-owners
/internal/identifiers-validation/   @iinuwa
/internal/serde-macros/             @ruma/macro-owners
