[package]
categories = ["api-bindings", "web-programming"]
description = "Types for the endpoints in the Matrix application service API."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma"]
license = "MIT"
name = "ruma-appservice-api"
readme = "README.md"
repository = "https://github.com/ruma/ruma"
version = "0.5.0"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
unstable-exhaustive-types = []
helper = ["ruma-client-api", "tracing"]
client = []
server = []

[dependencies]
ruma-client-api = { version = "0.13.0", path = "../ruma-client-api", features = ["client"], optional = true }
ruma-common = { version = "0.8.0", path = "../ruma-common", features = ["api", "events"] }
ruma-serde = { version = "0.6.0", path = "../ruma-serde" }
serde = { version = "1.0.118", features = ["derive"] }
serde_json = "1.0.61"
tracing = { version = "0.1.25", optional = true }

[dev-dependencies]
matches = "0.1.8"
serde_yaml = "0.8.17"
