[package]
categories = ["api-bindings", "web-programming"]
description = "Procedural macros used by the Ruma crates."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma"]
license = "MIT"
name = "ruma-macros"
readme = "README.md"
repository = "https://github.com/ruma/ruma"
version = "0.11.1"
edition = "2021"
rust-version = "1.64"

[lib]
proc-macro = true

[features]
compat = []

[dependencies]
once_cell = "1.13.0"
proc-macro-crate = "1.0.0"
proc-macro2 = "1.0.24"
quote = "1.0.8"
ruma-identifiers-validation = { workspace = true }
serde = { workspace = true }
syn = { version = "1.0.57", features = ["extra-traits", "full", "visit"] }
toml = { version = "0.7.1", default-features = false, features = ["parse"] }
