[package]
name = "ruma-push-gateway-api"
version = "0.4.0"
description = "Types for the endpoints in the Matrix push gateway API."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/ruma/ruma"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
unstable-exhaustive-types = []
client = []
server = []

[dependencies]
js_int = { version = "0.2.0", features = ["serde"] }
ruma-common = { version = "0.8.0", path = "../ruma-common", features = ["api", "events"] }
ruma-serde = { version = "0.6.0", path = "../ruma-serde" }
serde = { version = "1.0.118", features = ["derive"] }
serde_json = "1.0.61"
