[package]
categories = ["api-bindings", "cryptography"]
description = "Digital signatures according to the Matrix specification."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma", "cryptography"]
license = "MIT"
name = "ruma-signatures"
readme = "README.md"
repository = "https://github.com/ruma/ruma"
version = "0.12.0"
edition = "2021"

[package.metadata.docs.rs]
all-features = true

[features]
compat = []
ring-compat = ["dep:subslice"]
unstable-exhaustive-types = []

[dependencies]
base64 = { workspace = true }
ed25519-dalek = "1.0.1"
pkcs8 = { version = "0.9.0", features = ["alloc"] }
# because dalek uses an older version of rand_core
rand = { version = "0.7", features = ["getrandom"] }
ruma-common = { version = "0.10.5", path = "../ruma-common", features = ["canonical-json"] }
serde_json = { workspace = true }
sha2 = "0.9.5"
subslice = { version = "0.2.3", optional = true }
thiserror = { workspace = true }

[dev-dependencies]
assert_matches = { workspace = true }
