[package]
name = "ruma-identity-service-api"
version = "0.5.0"
description = "Types for the endpoints in the Matrix identity service API."
homepage = "https://www.ruma.io/"
keywords = ["matrix", "chat", "messaging", "ruma"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/ruma/ruma"
edition = "2021"
rust-version = "1.59"

[package.metadata.docs.rs]
all-features = true

[features]
unstable-exhaustive-types = []
client = []
server = []

[dependencies]
js_int = { version = "0.2.0", features = ["serde"] }
ruma-common = { version = "0.9.2", path = "../ruma-common", features = ["api"] }
serde = { version = "1.0.118", features = ["derive"] }

[dev-dependencies]
serde_json = "1.0.61"
