name: Semver Checks

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

on:
  pull_request:
    branches: [main]

jobs:
  changes:
    name: Changed Crates
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      crates: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            ruma:
              - 'crates/ruma/**'
            ruma-appservice-api:
              - 'crates/ruma-appservice-api/**'
              - 'crates/ruma-macros/**'
            ruma-client-api:
              - 'crates/ruma-client-api/**'
              - 'crates/ruma-macros/**'
            ruma-common:
              - 'crates/ruma-common/**'
              - 'crates/ruma-macros/**'
            ruma-events:
              - 'crates/ruma-events/**'
              - 'crates/ruma-macros/**'
            ruma-federation-api:
              - 'crates/ruma-federation-api/**'
              - 'crates/ruma-macros/**'
            ruma-html:
              - 'crates/ruma-html/**'
            ruma-identity-service-api:
              - 'crates/ruma-identity-service-api/**'
              - 'crates/ruma-macros/**'
            ruma-push-gateway-api:
              - 'crates/ruma-push-gateway-api/**'
              - 'crates/ruma-macros/**'
            ruma-signatures:
              - 'crates/ruma-signatures/**'
            ruma-state-res:
              - 'crates/ruma-state-res/**'

  breaking-changes:
    name: Breaking Changes
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.crates != '[]' }}
    outputs:
      ruma: ${{ steps.checks.outputs.ruma }}
      ruma-appservice-api: ${{ steps.checks.outputs.ruma-appservice-api }}
      ruma-client-api: ${{ steps.checks.outputs.ruma-client-api }}
      ruma-common: ${{ steps.checks.outputs.ruma-common }}
      ruma-events: ${{ steps.checks.outputs.ruma-events }}
      ruma-federation-api: ${{ steps.checks.outputs.ruma-federation-api }}
      ruma-html: ${{ steps.checks.outputs.ruma-html }}
      ruma-identity-service-api: ${{ steps.checks.outputs.ruma-identity-service-api }}
      ruma-push-gateway-api: ${{ steps.checks.outputs.ruma-push-gateway-api }}
      ruma-signatures: ${{ steps.checks.outputs.ruma-signatures }}
      ruma-state-res: ${{ steps.checks.outputs.ruma-state-res }}
    strategy:
      matrix:
        crate: ${{ fromJSON(needs.changes.outputs.crates) }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install rust stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-semver-checks
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-semver-checks

      - name: Run checks
        id: checks
        run: |
          # Ignore errors
          set +e

          # This is the syntax for multiline output
          echo "${{ matrix.crate }}<<EOF" >> "$GITHUB_OUTPUT"

          cargo semver-checks --color never --release-type minor \
                              -p ${{ matrix.crate }} \
                              --baseline-rev origin/${{ github.base_ref }} >> "$GITHUB_OUTPUT"

          echo "EOF" >> "$GITHUB_OUTPUT"

  artifact:
    name: Breaking Changes Artifact
    runs-on: ubuntu-latest
    needs: [changes, breaking-changes]
    if: ${{ always() }}
    steps:
      - name: Build artifact
        env:
          BREAKING_CHANGES_RESULTS: ${{ toJSON(needs.breaking-changes.outputs) }}
        run: |
          echo "$BREAKING_CHANGES_RESULTS" >> breaking-changes-results.json

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: breaking-changes-results
          path: breaking-changes-results.json

  xtask:
    needs: changes
    if: ${{ needs.changes.outputs.crates != '[]' }}
    uses: ./.github/workflows/xtask.yml

  additive-features:
    name: Additive Features
    runs-on: ubuntu-latest
    needs: [changes, xtask]
    if: ${{ needs.changes.outputs.crates != '[]' }}
    outputs:
      ruma: ${{ steps.checks.outputs.ruma }}
      ruma-appservice-api: ${{ steps.checks.outputs.ruma-appservice-api }}
      ruma-client-api: ${{ steps.checks.outputs.ruma-client-api }}
      ruma-common: ${{ steps.checks.outputs.ruma-common }}
      ruma-events: ${{ steps.checks.outputs.ruma-events }}
      ruma-federation-api: ${{ steps.checks.outputs.ruma-federation-api }}
      ruma-html: ${{ steps.checks.outputs.ruma-html }}
      ruma-identity-service-api: ${{ steps.checks.outputs.ruma-identity-service-api }}
      ruma-push-gateway-api: ${{ steps.checks.outputs.ruma-push-gateway-api }}
      ruma-signatures: ${{ steps.checks.outputs.ruma-signatures }}
      ruma-state-res: ${{ steps.checks.outputs.ruma-state-res }}
    strategy:
      matrix:
        crate: ${{ fromJSON(needs.changes.outputs.crates) }}
        features: [stable, unstable]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Install rust stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Install cargo-semver-checks
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-semver-checks

      - name: Get xtask
        uses: actions/cache@v5
        with:
          path: target/debug/xtask
          key: xtask-${{ hashFiles('Cargo.toml', 'xtask/src/**', 'xtask/Cargo.toml') }}

      - name: Run checks
        run: |
          target/debug/xtask semver --no-color additive-features ${{ matrix.crate }} ${{ matrix.features }}
